/*
=====================
CONTACT FORM
=====================
*/
fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input,
#contact textarea {
  width: 100%;
  margin: 0 0 5px;
  padding: 10px;
  background-color: rgb(250, 250, 250);
  border: 1px solid #dbdbe0;
}

#contact input:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #3dc9b3;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #3dc9b3;
}

#contact textarea {
  height: 150px;
  max-width: 100%;
  resize: vertical;
}

#contact button {
  cursor: pointer;
  width: 100%;
  border: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 12px;
  font-weight: bold;
  background-color: #3dc9b3;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button:hover {
  background-color: #65d4c3;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact .fa {
  padding-right: 5px;
}

#contact address {
  font-size: 16px;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}
