/*
=====================
NAVBAR
=====================
*/
.navbar-default {
  background-color: #ffffff;
}

.navbar {
  border: none;
}

.navbar ul.nav > li > a {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 12px;
  font-weight: bold;
  border-top: solid 3px transparent;
}

.navbar ul.nav > li > a.active {
  color: #000;
}

.navbar ul.nav > li > a:hover {
  border-top: solid 3px #4fbfa8;
}

@media (max-width: 767px) {
  .navbar ul.nav > li > a:hover {
    border-top: solid 3px transparent;
  }
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar ul.nav > li.active > a,
.navbar ul.nav > li.open > a {
  text-decoration: none !important;
  border-top: solid 3px #2d7b6b;
  background-color:  #3dc9b3;
  color: #fff;
}

@media (max-width: 767px) {
  .navbar ul.nav > li.active > a,
  .navbar ul.nav > li.open > a {
    border-top: solid 3px transparent;
  }
}
