html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.fa-2 {
  font-size: 2em;
}

.fa-2:hover, .fa-2:focus {
  text-decoration: none;
}

/* NAVBAR */
.navbar-static-top {
  margin-bottom: 20px;
}

.navbar-default {
  border-color: #ffffff;
  background-color:  #ffffff;
}

.navbar-default .navbar-nav>li>a {
  color: #000;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.4;
}

.navbar-nav>li>a.active {
  padding-top: 4px;
  padding-bottom: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: initial;
  color: #A33149;
}

.navbar-default .navbar-nav>.active>a {
  color: #fff;
  background-color: #7ab55c;
}


/* FOOTER */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #30373b;
}

.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

/* MARKETING CONTENT */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}

.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

.heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.heading-medium {
  font-weight: 150;
  line-height: 1;
  letter-spacing: -1px;
}

@media (min-width: 768px) {
  .heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .heading {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .heading-medium {
    margin-top: 60px;
  }

  .feature {
    margin-top: 120px;
    margin-bottom: 0px;
  }
}
