html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

a {
  color: #2d7b6b;
}

a:hover {
  text-transform: none;
  text-decoration: none;
  color: #3dc9b3;
}

.container .text-muted {
  margin: 20px 0;
}

.fa-2 {
  font-size: 2em;
}

.fa-2:hover, .fa-2:focus {
  text-decoration: none;
}

/* MARKETING CONTENT */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}

.marketing h2 {
  font-weight: normal;
}

.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

.last-divider {
  margin-top: 0px;
}

.heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.heading-medium {
  font-weight: 150;
  line-height: 1;
  letter-spacing: -1px;
}

@media (min-width: 768px) {
  .heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .heading {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .heading-medium {
    margin-top: 60px;
  }

  .feature {
    margin-top: 120px;
    margin-bottom: 0px;
  }
}
