html {
  position: relative;
  min-height: 100%;
}

a {
  color: #109CDB;
  text-decoration: none;
}

a:hover {
  text-transform: none;
  text-decoration: none;
  color: #06B8EC;
}

.fa-2 {
  font-size: 2em;
}

hr {
  margin-top: 0px;
}

.heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.heading-medium {
  font-weight: 150;
  line-height: 1;
  letter-spacing: -1px;
}

@media (min-width: 768px) {
  .heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .heading {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .heading-medium {
    margin-top: 60px;
  }

  .feature {
    margin-top: 120px;
    margin-bottom: 0px;
  }
}

/* CONTACT FORM */
fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

input,
textarea {
  width: 100%;
  margin: 0 0 5px;
  padding: 10px;
  background-color: rgb(250, 250, 250);
  border: 1px solid #dbdbe0;
}

input:hover,
textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #06B8EC;
}

input:focus,
textarea:focus {
  outline: 0;
  border: 1px solid #1798D8;
}

textarea {
  height: 150px;
  max-width: 100%;
  resize: vertical;
}

#contact button {
  cursor: pointer;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 12px;
  font-weight: bold;
  border: none;
  background-color:  #109CDB;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button:hover {
  opacity: .7;
}

#contact button:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact .fa {
  padding-right: 5px;
}

#contact address {
  font-size: 18px;
  padding: 0 0 20px 0;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

/*
=====================
CAROUSEL
=====================
*/

.carousel-caption {
  position: inherit;
  color: #000;
  text-shadow: none;
  font-size: 21px;
  font-weight: 350;
  max-width: 80%;
}

@media (max-width: 768px) {
  .carousel-caption {
    display: none;
  }
}

.carousel .item > img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 781px;
  max-height: 500px
}

.carousel-indicators li {
  background-color: #fff;
  border-color: #1798D8;
}

.carousel-indicators .active {
  background-color: #1798D8;
}

.carousel-control {
    width: 0;
}

.carousel-control.left,
.carousel-control.right {
	opacity: 1;
	background-image: none;
	background-repeat: no-repeat;
	text-shadow: none;
}

.carousel-control .glyphicon-chevron-right, 
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left, 
.carousel-control .icon-prev {
  width: 40px;
  height: 40px;
  margin-top: -10px;
  font-size: 37px;
  margin: 0px;
  color:  #06B8EC;
  opacity: .3;
}

.carousel-control.left span:hover,
.carousel-control.right span:hover {
	opacity: .7;
}


/*
=====================
NAVBAR
=====================
*/
.navbar-default {
  background-color: #ffffff;
}

.navbar {
  border: none;
}

.navbar-brand {
  padding-top: 0px;
  height: 55px;
}

.navbar ul.nav > li > a {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 12px;
  font-weight: bold;
  border-top: solid 3px transparent;
}

.navbar ul.nav > li > a.active {
  color: #000;
}

.navbar ul.nav > li > a:hover {
  border-top: solid 3px #06B8EC;
}

@media (max-width: 767px) {
  .navbar ul.nav > li > a:hover {
    border-top: solid 3px transparent;
  }
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar ul.nav > li.active > a,
.navbar ul.nav > li.open > a {
  text-decoration: none !important;
  border-top: solid 3px #1798D8;
  background-color:  #06B8EC;
  color: #fff;
}

.navbar ul.nav > li.active > a:hover {
  opacity: 0.7;
}

@media (max-width: 767px) {
  .navbar ul.nav > li.active > a,
  .navbar ul.nav > li.open > a {
    border-top: solid 3px transparent;
  }
}


/*
=====================
FOOTER
=====================
*/

body {
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-bottom: 5px solid #1798D8;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.footer > .container > .text-muted {
  margin: 20px 0;
}

#back-to-top {
  background-color: #109CDB;
  padding: 5px;
}
