<section id="contact" class="text-page"> 
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="heading">
          Let’s create something that your users will love.
          <span class="text-muted">Connect with us for a FREE consultation.</span>
        </h2>
        <div class="row">
          <div class="col-md-6">
            <form id="contact-form" action="/contact" method="post" data-toggle="validator" role="form">
              <%= csrf_tag %>
              <div class="form-group">
                <input placeholder="Your name" type="text" name="name" tabindex="1" required="required" data-error="Your name is required">
                <div class="help-block with-errors"></div>
              </div>
              <div class="form-group">
                <input placeholder="Your email address" type="email" name="email" tabindex="2" required="required" data-error="Your email address is required">
                <div class="help-block with-errors"></div>
              </div>
              <div class="form-group">
                <input placeholder="What is your company or project name? (optional)" name="subject" type="text" tabindex="3">
              </div>
              <div class="form-group">
                <textarea placeholder="What can we do for you?" tabindex="3" name="message" required="required" data-error="Please, leave us a message"></textarea>
                <div class="help-block with-errors"></div>
              </div>
              <button name="submit" type="submit" id="contact-submit" data-submit="Sending a message">Send message</button>
            </form>
          </div>
          <div class="col-md-6">
            <p class="lead">Tell us about your project and how we can help. Our best work gets done when we can talk face-to-face with you. We'd love to start a conversation.</p> 
            <address>
              <ul class="list-unstyled">
                <li><img src="static/img/logo.png" alt="Phogo Labs Ltd"></li>
                <li><i class="fa fa-envelope-o" aria-hidden="true"></i><%= mail_to "contact@phogolabs.com" %></li>
                <li><i class="fa fa-phone" aria-hidden="true"></i>(+44) 07487 123 456</li>
              </ul>
            </address>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
