<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <h3>About Phogo Labs</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s.</p>
          <ul class="list-unstyled">
            <li> <a href="#" title="Home">Home</a></li>
            <li><a href="#" title="Home">About</a></li>
            <li><a href="#" title="Locations">Services</a></li>
            <li><a href="#" title="Contacts">Contacts</a></li>
            <li> <a href="#" title="Privacy">Privacy</a></li>
          </ul>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <h3>Recent Blog Posts</h3>
          <dl class="blog-post-list">
            <dt><a href="#" title="">Lorem Ipsum is simply dummy text</a></dt>
            <dd><span style="text-transform:none;">published 2 hours ago</span></dd>
            <dt><a href="#" title="">Lorem Ipsum is simply dummy text</a></dt>
            <dd><span style="text-transform:none;">published 2 hours ago</span></dd>
            <dt><a href="#" title="">Duis mollis, est non commodo luctus</a></dt>
            <dd><span style="text-transform:none;">published 5 hours ago</span></dd>
            <dt><a href="#" title="">Maecenas sed diam eget risus varius</a></dt>
            <dd><span style="text-transform:none;">published 19 hours ago</span></dd>
          </dl>
          <p>
            <a href="#" title="">Read all posts</a>
          </p>
        </div>
        <div class="col-md-2 col-sm-6 col-xs-12">
          <h3>Contact Us</h3>
          <ul class="list-unstyled contact-details">
            <li>
              <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
              <span>(+44) 0733 6598 683</span>
            </li>
            <li>
              <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
              <a href="mailto:contact@phogolabs.com" title="Email">contact@phogolabs.com</a>
            </li>
          </ul>
          <ul class="list-inline">
            <li><a href="https://github.com/phogolabs" title="Phogo Labs on Linkedin" class=""><span class="fa fa-linkedin-square fa-2x"></span></a></li>
            <li><a href="https://twitter.com/unm" title="Phogo Labs on Twitter" class=""><span class="fa fa-twitter-square fa-2x"></span></a></li>
            <li><a href="https://github.com/phogolabs" title="Phogo Labs on Github" class=""><span class="fa fa-github-square fa-2x"></span></a></li>
            <li><a href="http://blog.phogolab.com/rss" title="Phogo Labs Blog RSS feed" class=""><span class="fa fa-rss-square fa-2x"></span></a></li>
          </ul>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <p class="text-muted pull-right"><a href="#">Back to top</a></p>
    <p class="text-muted"><span>&copy; 2016 Phogo Labs | </span><a href="http://github.com/phogolabs/web">Open Source by heart</a></p>
  </div>
</footer>
