<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img src="static/img/logo.png" class-"img-responsive" alt="Phogo Labs">
      </a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="active"><a href="/#contact"><span>Start a project with us</span></a></li>
    </ul>
  </div>
</nav>
