<footer class="footer">
  <div class="container">
    <p class="text-muted">
      <span class="pull-left">© <%= Time.now.year %> Phogo Labs Ltd, registered in England & Wales, Company Nr: 10468725.</span>
      <div id="back-to-top" class="pull-right">
        <a href="#"><i class="fa fa-2x fa-arrow-up fa-inverse"></i></a>
      </div>
    </p>
  </div>
</footer>
