<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Software Development Consultancy that turns awesome ideas into brilliant products">
    <meta name="author" content="Phogo Ltd.">
    <link rel="icon" href="static/favicon.ico">

    <title>Phogo Labs | We turns awesome ideas into brilliant software products</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">
  </head>

  <body>
    <!-- Fixed navbar -->
    <%= erb :'partials/_navbar' %>

    <!-- /container -->
    <%= yield %>

    <!-- Fixed footer  -->
    <%= erb :'partials/_navfooter' %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/js/ie10-viewport-bug-workaround.js"></script>
    <script src="static/js/validator.js"></script>
    <script src="static/js/contact.js"></script>
    </body>
  </html>
