<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="heading">
        Something wrong had happened.
      </h2>
      <p class="lead"><%= message %></p>
    </div>
  </div>
</div>
