<%= erb :'partials/_carousel' %>
<div class="container page-row-expanded">
  <!-- Intro Content -->
  <div class="row">
    <div class="col-md-12">
      <h2 class="heading">We turn awesome ideas into brilliant <span class="text-muted">software products.</span></h2>
      <p class="lead">We're a small team with excellent coding and project management skills who are passionate about crafting great software. </p>
      <p class="lead">It's been our mission to make software better for everyone ever since. We partner with organizations of all sizes to design, develop, and scale their products. We solve their business challenges by identifying and building innovative software solutions. </p>
      <p class="lead">We’re specialists in agile software development and operations at scale. From concept to launch we apply lean startup principles and agile engineering practices to creating new products and line of business.</p>
    </div>
  </div>

  <div class="row features">
    <div class="col-md-6">
      <div class="media">
        <span class="media-left">
          <img src="static/img/web.png" alt="Web and Backend Development"/>
        </span>
        <div class="media-body">
          <h4 class="media-heading heading-sm">Web and Backend Development</h4>
        </div>
      </div>
      <p class="lead-md">We ship web applications that work on any device and high availabilable microservices that scale into the future. We write high-quality Golang, Ruby, Rails, C#, ASP.NET, React and JavaScript code.</p>
    </div>
    <div class="col-md-6">
      <div class="media">
        <span class="media-left">
          <img src="static/img/mobile.png" alt="Mobile Development"/>
        </span>
        <div class="media-body">
          <h4 class="media-heading heading-sm">Mobile Development</h4>
        </div>
      </div>
      <p class="lead-md">We are specializes in native development for iOS. We follow the latest UI and UX guidelines and latest design trends. We build and release iOS applications using Xcode, Swift, and Objective-C.</p>
    </div>
    <div class="col-md-6">
      <div class="media">
        <span class="media-left">
          <img src="static/img/cloud.png" alt="Cloud Operations"/>
        </span>
        <div class="media-body">
          <h4 class="media-heading heading-sm">Cloud development and operations</h4>
        </div>
      </div>
      <p class="lead-md">By leveraging state-of-the-art open source configuration management tools, we aim to reduce human error in the deployment process. We can help you ship your project effortlessly by coninous delivery with tools such as Concourse, Docker, Ansible and BOSH.</p>
    </div>
    <div class="col-md-6">
      <div class="media">
        <span class="media-left">
          <img src="static/img/transformation.png" alt="Digital Transformation"/>
        </span>
        <div class="media-body">
          <h4 class="heading-sm heading-sm">Digital Transformation</h4>
        </div>
      </div>
      <p class="lead-md">We are geared to give you an overarching idea of how an automated workflow can bring new efficiency to your business. We can teach you the best ways to modernize your business process. We'll consult and train organisation to use TDD, XP and Cloud Foundry.</p>
    </div>
  </div>
  <!-- /.row -->

  <!-- Leadership -->
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">Leadership</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 col-md-push-7">
      <img class="img-responsive center-block" src="static/img/founder.jpg" alt="Svet Ralchev">
    </div>
    <div class="col-md-7 col-md-pull-5">
      <h2 class="heading-md">Svetlin Ralchev</span></h2>
    <p class="lead">Director and founder of Phogo Labs</p>
    <p class="lead">
      Svetlin has over 12 years experience in the UK, UAE, Denmark and Bulgaria. He does run all aspects of the company from strategy planning to project leadership.
    </p>
    <p class="lead">
      Prior to Phogo Labs, Svetlin served as a Lead Software Engineer for Pivotal Software Inc., where he worked on PCF RabbitMQ and open source PaaS Cloud Foundry.
      Before, his role there, he worked at Telerik Inc., where he helped to create the industry leading UI components for desktop and mobile devices.
    </p>
    <ul class="list-inline">
      <li><a class="fa fa-linkedin fa-2" aria-hidden="true" href="https://uk.linkedin.com/in/svettralchev"></a></li>
      <li><a class="fa fa-twitter fa-2" aria-hidden="true" href="https://twitter.com/ralch"></a></li>
      <li><a class="fa fa-github fa-2" aria-hidden="true" href="https://github.com/svett"></a></li>
    </ul>
  </div>
</div>
<hr/>
<!-- /.row -->
</div>

<%= erb :'partials/_contact' %>
