<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="heading">
        Thanks for getting in touch! Can't wait to get started.
      </h2>
      <h2 class="heading">
        <span class="text-muted">We will get back to you soon to hear more about your project and how we can help.</span>
      </h2>
    </div>
  </div>
</div>
